mixin icon (name)
    svg(class="icon icon-" + name)
        use(xlink:href="/images/sprite.svg#" + name)
mixin icon_link(name, url)
    - mod = mod || ''
        a(href=url, target='blank')
            svg(class="icon icon-" + name)
                use(xlink:href="/images/sprite.svg#" + name)

mixin icon_set(className,items)
    div(class="#{className}")
        ul(class="#{className}_list")
            each icon in items
                li(class="#{className}_list_item")
                    a(href="#{icon.url}" class="#{className}_link")
                        svg(class="icon-" + icon.name)
                            use(xlink:href="/assets/img/sprite.svg#" + icon.name)